.App {
  text-align: center;
  color: white;
}

.navbar {
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  
}

.home-div {
  display: flex;
  justify-content: flex-start;
}

.name {
  background-color: black;
  color: white;
  font-size: 80px;
}

