.App {
  text-align: center;
  color: white;
}

.navbar {
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  
}

.home-div {
  display: flex;
  justify-content: flex-start;
  margin-top: 10%;
}

.name {
  /* background-color: black; */
  color: white;
  font-size: 120px;
  text-shadow: 2px 2px black;
}

.home-links {
  /* background-color: black; */
  color: white;
  font-size: 80px;
  margin-left: 40px;
  text-shadow: 2px 2px black;
  
}

.page-title {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.text {
  font-size: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  margin: 50px;
  text-align: center;
}
